{% extends 'dryApp/base.html' %}

{% block body_block %}

<div class="container mt-3">
  <h5 style="font-family:'Anton',cursive;">HOW WE WORK</h5>
  <p><strong>Shopping from our trusted supermarkets - </strong>We charge flat rates starting at ₦150.  We have absolutely NO hidden charges.
  NO progressive rates, NO fuel surcharge, NO gimmicks, PAY on delivery! Just simple flat rates that never change. Currently, Gihgr has two plans for shopping- Premium and Ultimate plans</p>


  <p><strong>PREMIUM PLAN - </strong>Items order within the range of ₦1000 - ₦5000, gihgr takes 15% of the actual amount, and sometimes we will even discount that
  to 10%. Lets say you want us to buy an item sold for ₦5000, gihgr will charge you 15% of the ₦5000, which is ₦750 only.</p>

  <p><strong>ULTIMATE PLAN - </strong>This plan is for items order from ₦6000 and above, gihgr charges you just 10% of the actual amount. Lets say you want us to buy an item sold
    for ₦8000, gihgr will charge you 10% of the ₦8000, which is ₦800 only</p>

  <p><strong>Paying of electricity bills is charged ₦500 only - </strong>this involves practically everything that relieves you of the stress of going to the bank and
  recharging your meter. There is also a FREE plan for individuals that often use us.</p>

  <p><strong>Laundry service - </strong>Currently, gihgr charges you just ₦500 to pick your clothes and deliver them to you neatly packaged and on time. <br>Please note that
  we only charge you for deliveries and not for doing the laundry itself. We have tried to make laundry cheap and very affordable.</p>

  <p>Our errand services start at ₦500 and top out at ₦1000. Almost all simple one way local deliveries & errands end up being ₦500.
  If you have any question, just ask the driver on the phone and he can give you more details.  We also do free deliveries for individuals that use us often.
  So every now & then…we will just say thanks and not charge you!</p>
  <p>Thank you!</p>


  <div class="end_footer" style="box-shadow: 0 50vh 0 50vh #1F2121;">
    <div class="container">
          &copy; 2019 All rights reserved. Gihgr Errand Service, Bonny Island
    </div>
  </div>
</div>



{% endblock %}
