{% extends 'dryApp/base.html' %}


{% block body_block %}

<div class="preload" id="preload">
  <div class="logo">
    {% load static %}
    <img src="{% static "image/gihgr.png" %}" alt="image" style="height:60px; width:200px;">
    <div class="loader-frame">
      <div class="loader1" id="loader1">
      </div>
      <div class="loader2" id="loader2">
      </div>
    </div>
  </div>
</div>

<div class="container">
  {% for message in messages %}
    <div class="alert alert-success text-center">
        <a class="close" href="#" data-dismiss="alert">×</a>
            {{ message }}
    </div>
  {% endfor %}
</div>

<div class="slider" style="width: 100%;">
    <div class="mySlides fade"  style="display:block;">
      <div class="">
        {% load static %}
        <img src="{% static "image/laundry.jpg" %}" alt="image" class="image">
      </div>
      <div class="imgtxt1">
        <h6 class="txthead">WE BRING YOU</h6>
        <h3 class="txttitle" >BONNY BEST LAUNDRY SERVICES</h3>
        <p>We make sure that you get the best laundry services delivered to your doorstep. We are reliable, efficient and sparkling</p>
      </div>
    </div>

    <div class="mySlides fade">
      <div class="">
        {% load static %}
        <img src="{% static "image/shopping.jpg" %}" alt="image" class="image">
      </div>
      <div class="imgtxt1">
        <h6 class="txthead">WHAT DO YO WANT?</h6>
        <h3 class="txttitle">SHOPPING MADE A LOT EASIER!</h3>
        <p>We will always try and find a way to make it easier and more convinient. Relax while we do the running around for you</p>
      </div>
    </div>

    <div class="mySlides fade">
      <div class="">
        {% load static %}
        <img src="{% static "image/electricity.jpg" %}" alt="image" class="image">
      </div>
      <div class="imgtxt1">
        <h6 class="txthead">NEED HELP...</h6>
        <h3 class="txttitle">WE CAN PAY YOUR LIGHT BILLS</h3>
        <p>Have you considered the stress of queing up just to pay your light bills? You don't need to worry anymore, just give us a call today</p>
      </div>
    </div>
    <a class="prev" onclick="plusIndex(-1)">&#10094;</a>
    <a class="next" onclick="plusIndex(1)">&#10095;</a>

</div>

<div class="below">
  <div style="text-align:center; padding-bottom:5px; padding-top:6px;">
    <span class="dot" onclick="currentSlide(1)"></span>
    <span class="dot" onclick="currentSlide(2)"></span>
    <span class="dot" onclick="currentSlide(3)"></span>
  </div>

    <div class="container">
      <section>
          <h1 style="text-transform: uppercase;">no nonsense, we deliver</h1>
          <p>Fast, Reliable, Efficient. Any Office, Any Business, We Deliver.</p>
      </section>
    </div>

    <div class="container">
      <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-6">
              <ul class="menust">
                <li><span><i class="fas fa-chevron-circle-right"></i></span>  Errands Services by Appointment</li>
                <li><span><i class="fas fa-chevron-circle-right"></i></span>  Shopping from our trusted supermarkets</li>
                <li><span><i class="fas fa-chevron-circle-right"></i></span>  Electricity Bill Payment</li>
                <li><span><i class="fas fa-chevron-circle-right"></i></span>  Secure Legal document Delivery</li>
                <li><span><i class="fas fa-chevron-circle-right"></i></span>  Laundry Services</li>
              </ul>
              <p class="menust" style="font-family:'Niccone',cursive;">If you have a question, please send us a message or give us a call</p>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-6 mt-3">
                <div class="image_below">
                  <div class="container">
                    {% load static %}
                    <img id="img_below" src="{% static 'image/gihgrimage.jpg' %}" alt="image">
                    <p style="padding-top:10px;"><a href="{% url 'billing_policy' %}" class="btn btn-secondary" style="color: #013C21; font-weight:bold;">HOW WE WORK</a></p>
                  </div>
                </div>
            </div>
          </div>
      </div>

      <div class="contact_us ">
            <div class="container">
              <h1 class="text-center">Contact Us</h1>
              <h5 class="head container">request form</h5>

              <form class="" action="{% url 'my_messages' %}" method="POST">
                <div class="container">
                  <div class="row">
                    <div class="col-lg-6 col-sm-6 col-sm-6">
                      {% csrf_token %}
                      {{ form.as_p }}
                      {{ form.errors }}

                      <div class="form-group">
                        <input type="submit" value="Send" class="btn btn-success btn-block">
                      </div>
                    </div>

                    <div class="col-lg-6 col-md-6 col-sm-6">
                      <div class="address">
                        <h5 class="head"><span><i class="fas fa-map-marker-alt"></i></span> address</h5>
                        <p>Abalamabie Road, adjacent Oil and Gas Polythecnic</p>
                        <p>Bonny Island</p>
                        <hr>
                        <p>Email: gihgrerrandservice@gmail.com</p>
                        <p>Phone: 08137370891 | 08155074414</p>
                      </div>
                      <div style="margin-top:15px; margin-bottom:20px;" class="color-rotate">
                        <a href="tel:+2348137370891"><button type="button" class="btn btn-outline-success btn-lg nav-styles">CALL US NOW
                         <span><i class="fas fa-phone"></i></span></button></a>
                      </div>
                    </div>

                  </div>
                </div>
              </form>

            </div>
      </div>

      <div class="footer">
        <div class="container">
          <div class="row">
            <div class="col-lg-6 col-md-6">
              <h5 class="nav-styles" style="padding-top: 15px;">OUR CLIENTS</h5>
              <div class="client_details">
                  <img src="https://images.unsplash.com/photo-1516913508865-558a64071d82?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60"
                  alt="" style="width:90px; height:90px; border-radius:50%;">
                  <p>Usher dry cleaning services <br> and general merchandise</p>
              </div>
              <hr class="new">
              <div class="client_details">
                  <img src="https://images.unsplash.com/photo-1535731881402-bd9275a40ab2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60"
                  alt="" style="width:90px; height:90px; border-radius:50%;">
                    <p>Hart Banigo shopping  mall <br> located at Finima <br> roundabout, Bonny Island</p>
              </div>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-6">
              <h5 class="nav-styles" style="padding-top: 15px;">CONNECT WITH US</h5>
              <div class="social">
                <a href="https://www.facebook.com"><img style="height:70px; width:50px;" src="https://image.flaticon.com/icons/svg/187/187189.svg" alt="facebook"></a>
                <a href="https://www.instagram.com"><img style="height:70px; width:50px;" src="https://image.flaticon.com/icons/svg/174/174855.svg" alt="Instagram"></a>
                <a href="https://www.twitter.com"><img style="height:70px; width:50px;" src="https://image.flaticon.com/icons/svg/145/145812.svg" alt="Twitter"></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="end_footer">
        <div class="container">
              &copy; 2019 All rights reserved. Gihgr Errand Service, Bonny Island
        </div>
      </div>

</div>


   {% endblock %}
